{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block body %}
<h1>All genres</h1>



<p>There are {{genres|length }} genres</p>

<table class="table table-hover">      
         {%for  genre in genres %}
         <tr>
            <td><a href="{{path('show_genre', {'id':genre.id}) }}"> {{genre}}</a> </td>
          </tr>
         {% endfor %}
</table>

{% endblock %}
