{% extends 'base.html.twig' %}

{% block title %}Roles{% endblock %}

{% block body %}
<h1>All roles</h1>



<p>There are {{roles|length }} roles</p>

<table class="table table-hover">      
         {%for  role in roles %}
         <tr>
            <td><a href="{{path('show_role', {'id':role.id}) }}"> {{role}}</a> </td>
          </tr>
         {% endfor %}
</table>

{% endblock %}
